/* Navbar */
nav .nav-container .logo h2{
    font-size: 1.2rem;
    margin-left: 0.75rem;
    color: var(--primary-color);
}

nav .nav-container .links .link-nav{
    color: var(--dark-color);
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0;
    margin-left: 0.5rem;
    height: 100%;
    border-radius: var(--border-radius);
    transition: .2s ease-in-out;
}

/* Showcase */
.btn-primary{
    font-size: 0.8rem;
}

#showcase .dark-layer h2{
    font-size: 1.6rem;
}

#showcase .dark-layer p{
    font-size: 1.2rem;
    max-width: 100%;
}

/* Presentation */

#pres-items .item .item-content h3{
    margin: 1rem;
    font-size: 1rem;
    width: 100%;
}
#pres-items .item .item-content p{
    font-size: 0.65rem;
    width: 100%;
    max-width: 100%;
}

/* Info */

#info{
    height: 280px;
}

#info .box-container .box .title{
    padding-bottom: 0.5rem;
}

#info .box-container .box .title h3{
    font-size: 1rem;
}
#info .box-container .box .title img{
    width: 15px;
}

#info .box-container .box p{
    font-size: 0.65rem;
}
#info .box-container .box{
    height: 140px;
    padding: 0.5rem;
}
#info .box-container .box-1{
  animation:none;
  box-shadow: 2px 2px 30px 5px  rgba(0,0,0,0.1);
}
#info .box-container .box-2{
    animation:none;
    box-shadow: 2px 2px 30px 5px  rgba(0,0,0,0.1);
}
#info .box-container .box-3{
    animation:none;
    box-shadow: 2px 2px 30px 5px  rgba(0,0,0,0.1);
}


/* Footer */
#footer .container .footer-title h2{
    font-size: 1rem;
}

#footer .container .footer-title p{
    font-size: 0.65rem;
}

#footer .container .more h4{
    font-size: 0.7rem;
}

#footer .container .more:nth-child(2) a img{

    max-width: 100px;
}

#footer .container .more .more-item a {
   font-size: 0.65rem
}

#footer .copyright {
    font-size: 0.5rem;
}
