:root{
    --primary-color: #2196f3;
    --btn-hover-color: #1662a0;
    --secondary-color: #ff7043;
    --light-primary-color: #42a5f5;
    --background-color: #f5f5f5;
    --info-back-color: #f3fbff;
    --dark-color: #333;
    --border-radius: 4px;
    --max-width: 1100px;
}
@font-face {
    font-family: Samim;
    src: url('../fonts/Samim.ttf');
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--background-color);
    width: 100%;
    font-family: Samim, sans-serif;
}

/* Utility classes */


.container{
    padding: 1.2rem;
    margin: auto;
    max-width: var(--max-width);
    position: relative;
}


a{
    text-decoration: none;
}




.btn-primary{
    margin-top: 3rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;

}

.btn-box-shadow{
    box-shadow: 2px 2px 30px 5px  #2195f357;
}

.btn-primary:hover{
    background: var(--btn-hover-color);
    cursor: pointer;
}




/* navbar */

nav{
    background: var(--background-color);
    position: sticky;
    width: 100%;
    overflow: hidden;
    padding: 0.4rem 0;
    top: 0;
    box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.151);
    z-index: 2;
}
nav .nav-container{
    display:grid;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 .75rem;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    width: 100%;
}

nav .nav-container .logo{
    display: flex;

}
nav .nav-container .logo h2{
    font-size: 1.8rem;
    margin-left: 0.75rem;
    color: var(--primary-color);
}

nav .nav-container .links{
    display: flex;
    margin: 0;
    justify-self: flex-end;
}

.link-nav{
    color: var(--dark-color);
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0;
    margin-left: 0.5rem;
    height: 100%;
    border-radius: var(--border-radius);
    transition: .2s ease-in-out;
}
.link-nav:hover{
    background: var(--primary-color);
    color: var(--background-color);
}




/*Showcase*/


#showcase .dark-layer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: column;
    color: #fff;
    background: rgba(0,0,0,0.7);
    height: 100vh;
    z-index: 1;
}

#showcase .showcase-img{
    background:url('../img/showcase.jpeg') no-repeat center center/cover;
    height: 100vh;
}

#showcase .dark-layer p{
    font-size: 1.8rem;
    max-width: 40%;
    margin: 1rem;
    line-height: 1.5;
    transform: translateY(-20px);
    opacity: 0;
    animation: des1 1s  ease-in-out forwards;
}



#showcase .dark-layer a{

    transition: 0.2s ease-in-out;
    opacity: 0;
    animation: des2 1s  ease-in-out forwards;

}

@keyframes des1{
    to{
        transform: translateY(20px);
        opacity: 1;
    }
}
@keyframes des2{
    to{
        opacity: 1;
    }
}


#showcase .dark-layer h2{
    font-size: 2rem;
}


/* Main Presentation*/

#pres-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#pres-items .container{
    flex: 2;
}

#pres-items .item{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#pres-items .item:nth-child(even){
    margin: 2rem 0;
    grid-template-columns: 1.5fr 1fr;

}
#pres-items .item:nth-child(even) img{
   order: 2;
}

#pres-items .item img{
    width: 100%;
    max-width: 500px;
    justify-self: flex-end;
}

#pres-items .item .item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
}

#pres-items .item .item-content h3{
    width: 75%;

}

#pres-items .item .item-content h3{
    color: var(--secondary-color);
    margin: 2rem;
    font-size: 1.6rem;
}

#pres-items .item .item-content p{
    max-width: 70%;
    opacity: 0.8;
}

#pres-items .container .item .shape{
    border-radius: 30% 70% 70% 30% / 42% 56% 44% 58% ;
    background: var(--secondary-color);
}


/* Info section */

#info{
    height: 400px;
    background: var(--info-back-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.3);
}


#info .box-container{
    display: flex;
    margin-top: 2rem;
    flex-direction:row;
    flex: 1;
    text-align: center;
    align-items: center;
}


#info .box-container .box{
    display: flex;
    flex-direction:column;
    padding: 1rem;
    max-width: 200px;
    background: #fff;
}

#info .box-container .title{
    display:flex;
    justify-content: center;
    padding-bottom: 1rem ;

}

#info .box-container .box .title img{
    opacity: 0.7;
}
#info .box-container .box .title h3{
    margin-right: 0.5rem;
    font-size: 1.4rem;
    color: var(--secondary-color);
}


#info .box-container .box p{
    opacity: 0.7;
}


#info .box-container .box-1{
    border-radius: 15px 0 0 15px;
    animation: anim-left 0.8s ease-in-out forwards;
}

#info .box-container .box-2{
    border-radius: 0;
    animation: shadow 0.8s ease-in-out forwards;

}

#info .box-container .box-3{
    border-radius: 0 15px 15px 0;
    animation: anim-right 0.8s  ease-in-out forwards;
}


@keyframes anim-left{
    to{
        box-shadow: 2px 2px 30px 5px  rgba(0,0,0,0.1);
        transform: translateX(-50px) translateY(12px);
    }
}

@keyframes anim-right{
    to{
        box-shadow: 2px 2px 30px 5px  rgba(0,0,0,0.1);
        transform: translateX(50px) translateY(12px);
    }
}

@keyframes shadow{
    to{
        transform: translateY(12px);
        box-shadow: 2px 2px 30px 5px  rgba(0,0,0,0.1);
    }
}


#info .btn-container{
    padding-bottom: 1rem;
    display: flex;
}

#info .btn-container a{
    text-align: center;
    margin: auto;
}


/* Footer */

#footer{
    display: flex;
    flex-direction: column;
}

#footer .container{
    display: flex;
    flex-direction: column;
}

#footer .container .footer-title{
    justify-self: flex-end;
    align-self: flex-end;
    width: 100%;
    text-align: end;
    max-width: 50%;
}

#footer .container .footer-title h2{
    font-size: 1.5rem;
    color: var(--primary-color);
}

#footer .container .footer-title p{
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    opacity: 0.7;
}

#footer .container .more{
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content:center;
    align-items:flex-start;
    margin-top: 2rem;
}

#footer .container .more .more-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
}
#footer .container .more .more-item a{
    margin: 0.4rem;
}

#footer .container .more h4{
    opacity: 0.7;
    color: var(--secondary-color);
    padding-bottom: 0.5rem;
}

#footer .container .more .more-item a{
    color: var(--dark-color);
    opacity: 0.8;
}

#footer .container .more .more-item a:hover{
    color: var(--primary-color);
}
#footer .container .more .more-item a img{
    width: 150px;
}


#footer .hor-line{
    height: 1px;
    width: 100%;
    background: var(--dark-color);
    opacity: 0.4;
}

#footer .container .more .hor-line{
    width: 50%;
    margin: auto;
    margin-bottom: 0.5rem;
}

#footer .copyright {
    font-size: 0.75rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction:row;
    width: 100%;
    max-width: var(--max-width);
}

#footer .copyright p{
    flex: 1;
    justify-self: flex-start;
    opacity: 0.7;
}

#footer .copyright p a{
    color: var(--primary-color);
    text-decoration: none;
}

#footer .copyright .other{
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content:flex-end;
    align-items:center;

}

#footer .copyright .other #moafegat{
    margin: 0 1rem;
}

#footer .copyright .other .up{
    background: var(--primary-color);
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;
}

#footer .copyright .other .up:hover{
    background: var(--btn-hover-color);
    cursor: pointer;
}
#footer .copyright .other .a-other{
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}
#footer .copyright .other .a-other:hover{
    color: var(--primary-color);
    cursor: pointer;
}




